.widget {
  height: var(--widget-height);
  background-color: rgb(220, 99, 99);
  /* display: flex; */
}


.productCardList {
 background-color: rgb(211, 208, 172);
 display: flex;
 /* grid-column: 1;
 grid-row:1 */
}

.productCard{
  background-color: rgb(83, 105, 228);
  /* grid-column: 2;
  grid-row: 1; */
}

