.widget {
  display: flex;
  flex-direction: column;
}

.questionList {
  background-color: coral;
}

.questionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .answerRow {
  display: flex;
  flex-direction: row;
} */

.question {
  background-color: rgb(91, 91, 241);
  display: flex;
  flex-direction: column;
  width: 100%;
  /* display: flex;
  align-items: flex-start;
  /* flex-direction: row; */
  /* justify-content: space-around; */
}

.searchBar {
  background-color: rgb(236, 161, 220);
  display: flex;
  /* align-items: flex-start; */
}
.answerInfo {
  display: flex;
  flex-direction: row;
}

.helpfulAnswer {
  margin-left: 5px;
}
.report {
  margin-left: 5px;
}

.clickableWord {
  text-decoration: underline;
  margin-left: 5px;
}

.questionRowRight {
 margin: 2%;
}

.questionRowLeft {
  margin: 2%;
}

/* Temporary until we do a reset -------*/
ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* May use these later.... commented out for now until cleanup */

/* .answer {

}

.answerList {

}

.addQuestion {

}

.questionButton {

} */