.widget {
  display: flex;
  flex-direction: column;
}



.questionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .answerRow {
  display: flex;
  flex-direction: row;
} */

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* display: flex;
  align-items: flex-start;
  /* flex-direction: row; */
  /* justify-content: space-around; */
}

/* .searchBar {
  background-color: rgb(236, 161, 220);
  display: flex;
} */
.answerInfo {
  display: flex;
  flex-direction: row;
}

.helpfulAnswer {
  margin-left: 5px;
}

.report {
  margin-left: 5px;
}

.clickableWord {
  text-decoration: underline;
  margin-left: 5px;
}

.questionRowRight {
 margin: 2%;
}

.questionRowLeft {
  margin: 2%;
}

.addQuestion {
  background-color: turquoise;
}

.questionList {
  overflow: auto;
}

/* Temporary until we do a reset -------*/
ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}



/* Forms CSS
----------------------------------------------------
*/

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 70px;
  align-self: center;
}

input[name=question] {
  height: 200px;
}

.questionForm {
  display: flex;
  flex-direction: column;
}

.inputSubtext {
  padding-bottom: 8px;
}


/* ---------- MODAL CSS ----------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}









/* May use these later.... commented out for now until cleanup */

/*

.answerList {

}

.addQuestion {

}

 */