.widget {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  padding-top: 30px;
}

.widgetHeader {

}

.smallMarginRight {
  margin-right: 10px;
}



.questionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .answerRow {
  display: flex;
  flex-direction: row;
} */

.answer {
  display: flex;
  margin-bottom: 2%;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* display: flex;
  align-items: flex-start;
  /* flex-direction: row; */
  /* justify-content: space-around; */
}

.answerInfo {
  display: flex;
  flex-direction: row;
  font-size: small;
}

.helpfulAnswer {
  margin-left: 5px;
}

.report {
  margin-left: 5px;
}

.clickableWord {
  font-size: small;
  color: gray;
  text-decoration: underline;
  margin-left: 5px;
  align-self: flex-end;
}

.clickableWord:hover {
  color: #47682C;
  cursor: pointer;
}

.subFont {
  color: gray;
  font-size: small;
  margin-left: 5px;
}

.questionRowRight {
  display: flex;
  margin: 3% 0;
  flex-direction: row;
}

.questionRowLeft {
  margin: 3% 0;
  display: flex;
  font-weight: bold;
}

.addQuestion {

}

.questionList {
  overflow: auto;
}

/* Temporary until we do a reset -------*/
ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
.questionListButtons {
  display: flex;
  flex-direction: row;
}

.answerList {
  overflow: auto;
  max-height: 50vh;
}

.loadAnswers {
  color: #47682C;
  font-size: smaller;
  font-weight: bold;
  margin-left: 25px;
}

.loadAnswers:hover {
  cursor: pointer;
  color: gray;
}

/* Forms CSS
----------------------------------------------------
*/

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 70px;
  align-self: center;
}

input[name=question] {
  height: 200px;
}

.questionForm {
  display: flex;
  flex-direction: column;
}

.inputSubtext {
  padding-bottom: 8px;
}


/* ---------- MODAL CSS ----------- */
.modal {
  width: 80%;
  background: white;
  z-index: 1;
  position: absolute;
  top: 10%;
}

.modal .content {
  padding: 5px;
  z-index: 10;
  margin: auto;
  position: fixed;
  left: 25%;
  max-height: 80vh;
  border: 1px solid gray;
  width: 40%;
  min-width: 400px;
  background-color: white;
  overflow: scroll;
}

.modal .actions {
  padding: 5px;
  align-self: center;
}
