.widget {
  background-color: rgb(199, 136, 136);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.ratingBreakdown {
 background-color: rgb(216, 186, 132);
}

.reviewsList {
  background-color: rgb(224, 149, 149);
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.productBreakdown {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.scoreBar {
  height: 10px;
  background-color: rgb(173, 173, 173);
}

.arrowDown {
  position: relative;
  left: calc(var(--score) / 5 * 100% );
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black;
}

.subLabels {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.characteristic {
  margin-bottom: 15px;
}