.widget {
  background-color: rgb(199, 136, 136);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.ratingBreakdown {
 background-color: rgb(216, 186, 132);
}

.reviewsList {
  margin: 2%;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.productBreakdown {
  background-color: rgb(139, 139, 226);
}

.sortOptions {
  display: flex;
}

.reviewTile {
  padding: 15px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.response {
  background-color: rgb(190, 190, 190);
  padding: 2%;
}

.sortSelect {
  height: 20px;
}

.sortLabel {
  margin: 0 5px 0 0;
}