/* ------- LAYOUT ---------- */

/* GRID */

.widget {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: auto 1fr;
  height: 95vh;
  padding-top: 20px;
}

.reviewsComponent {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}


/* Grid layout for characteristics in the add review component */
.charGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  border-color: black;
}

.alignLeft {
  align-self: start;
  justify-self: start;
}


/* The other two subcomponents are automatically placed */


/* FLEX */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}


/* MARGIN */

.resetMargin {
  margin: 0;
}

.smallMargin {
  margin: 2px;
}

.smallMarginBottom {
  margin-bottom: 5px;
}

.medMarginBottom {
  margin-bottom: 15px;
}

.largeMarginBottom {
  margin-bottom: 30px;
}

.smallMarginRight {
  margin-right: 10px;
}

.smallMarginLeft {
  margin-left: 10px;
}

.medMarginRight {
  margin-right: 20px;
}


/* PADDING */

.smallPadding {
  padding: 2%;
}

.medPadding {
  padding: 5%;
}


/* BARS */

.bar {
  background-color: var(--light-gray);
  flex: 1;
  height: 10px;
}

/* This is specifically for the precent bars filled portion. The width is added inline. */
.bar>div:not(.downArrow) {
  background-color: #47682C;
  height: 10px;
}

/* Makes a downward pointing arrow that is used in the product breakdown bars */
.downArrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #47682C;
  height: 0;
  left: calc(var(--score) / 5 * 100% );
  width: 0;
  position: relative;
}




/* ---------- TYPOGRAPHY ----------- */

.smallFont {
  font-size: 14px;
}

.largeFont {
  font-size: 42px;
}

.subFont {
  font-size: smaller;
  color: gray;
}




/* REVIEW LIST */

.reviewsList {
  flex: 1;
  overflow: scroll;
}

.thumbNailContainer {
  height: 75px;
  overflow: hidden;
}

.thumbnail {
  width: 125px;
}

.response {
  background-color: var(--light-gray);
}

.button {
  padding: 10px 10px;
  margin: 10px 10px;
  background-color: #47682C;
  color: white;
  border-radius: 5%;
}

.button:hover {
  background-color: #568035;
}

/* Review Tile */
.active {
  text-decoration: underline;
}

.active:hover {
  color: #ADB6C4;
  cursor: pointer;
}


/* Review Form */
.ratingContainer {
  width: fit-content;
}