.widget {
  height: var(--widget-height);
  background-color: rgb(220, 99, 99);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1fr;
}



.imageGallery {
 background-color: rgb(120, 194, 83);
 grid-column: 1;
 grid-row:1
}

.productInfo {
  background-color: rgb(126, 89, 89);
  grid-column: 2;
  grid-row: 1;
}

.description {
  background-color: rgb(139, 139, 226);
  grid-column: 1;
  grid-row: 2
}

.features {
  background-color: rgb(37, 37, 113);
  grid-column: 2;
  grid-row: 2;
}


/*============= ProductInfo ====================*/
.infoComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-color: rgb(105, 125, 189);
}

.starReview{
  flex: .5;
  border: 1px solid black;

}

.category{
  flex: .75;
  border: 1px solid black;
  font-size: larger;
  vertical-align: middle;

}

.title{
  flex: 1.5;
  border: 1px solid black;
  font-weight: bolder;
  font-size: xx-large;

}

.price{
  flex: .5;
  border: 1px solid black;
}

.styles{
  flex: 4.5;
  border: 1px solid black;
}

.addToCart{
  flex: 4;
  border: 1px solid black;
}

/*============= ProductInfo_Style Selector====================*/
.styleText{
  height: 2%;
  margin: 0px;
  vertical-align: text-top;

}

.styleSelection{
  margin-top: 8px;
  display: flexbox;
  flex-wrap: wrap;
  height: 95%;
  width:  350px;
  border: 1px solid darkblue;
  justify-items: auto;
}

.styleItem {
  flex: 1;

}

.styleThumbnail {
  height: 55px;
  width: 55px;
  margin: 2.5px 15px;
  border: 1px solid black;
  border-radius: 50%;
}