.widget {
  background-color: rgb(235, 150, 150);
  height: var(--widget-height);
  background-color: rgb(220, 99, 99);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1fr;
}



.imageGallery {
 background-color: rgb(120, 194, 83);
 grid-column: 1fr 6fr;
}

.productInfo {
  background-color: rgb(126, 89, 89);
  /* grid-column: 1.5; */
}

.description {
  background-color: rgb(139, 139, 226);
}

.features {
  background-color: rgb(37, 37, 113);
}