h1 {
  color: white;
  background-color: black;
}

#app {
  background-color: burlywood;
  margin: 0 10% 0;
}

:root {
  --widget-height: 950px
}

.overview {
  background-color: red;
  height: var(--widget-height);
}

.questions {
  background-color: blue;
  height: var(--widget-height);
}

.related {
  background-color: green;
  height: var(--widget-height);
}

.reviews {
  background-color: orange;
  height: var(--widget-height);
}