body {
  overflow-x: hidden;
}

h1 {
  color: rgb(255, 250, 240);
  font-size: 3em;
  margin: 0;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: rgb(255, 250, 240);
}

a:hover {
  color: #BDC667;
}

html {
  scroll-behavior: smooth;
}

#app {
  margin: 0 18.5% 0;
  font: 1em "Fira Sans", sans-serif;
  background-color: rgb(255, 250, 240);
}

:root {
  --widget-height: 950px;
  --light-gray: rgb(180, 180, 180);
  background-color: white;
}

.overview {
  background-color: rgb(235, 150, 150);
  height: var(--widget-height);
}

.questions {
  background-color: rgb(133, 133, 212);
  height: var(--widget-height);
}

.related {
  background-color: rgb(147, 214, 147);
  height: var(--widget-height);
}

.button {
  padding: 10px 10px;
  margin: 10px 20px 10px 0px;
  background-color: #47682C;
  color: rgb(255, 250, 240);
  /* border-radius: 5%; */
}

.button:hover {
  background-color: #568035;
}